



<span id="language">
	<img style="position:relative;top:3px; margin:0 4px 0 10px;" src="/images/germany.png"> 
	<span style="color:#3b69a4;" href="#"><strong>Deutsch?</strong></span> 
</span>
	    		
<div id="language-block">
 	<h4>Willkommen auf der “Min River Tea Farm”.</h4>
	<p> Wir beliefern Sie mit hochwertigem, chinesischem Blatt-Tee. Seit kurzem liefern wir auch nach Deutschland!
Unsere Webseite wurde noch nicht vollständig in alle Sprachen übersetzt, dafür möchten wir uns an dieser Stelle entschuldigen. Wir hoffen dennoch Sie finden sich auf unserer englischen Seite zu Recht und freuen uns über Ihre Kontaktaufnahme. Vielen Dank!</p>
	 <a href="#" id="close-language">X</a>	    	
</div>