



<span id="language">
	<img style="position:relative;top:3px; margin:0 4px 0 10px;" src="/images/france.png"> 
	<span style="color:#3b69a4;" href="#"><strong>Français?</strong></span> 
</span>
	    		
<div id="language-block">
 	<h4>Bienvenue à la ferme Min River</h4>
	<p>Bonjour! Bienvenue à la ferme Min River Nous vendons du thé en feuille chinois de haute qualité, et nous deliverons en France. Notre site web n'a pas encore été traduit en Français, et nous nous en excusons. Nous espérons que vous parviendrez à vous en sortir avec la version anglaise et si vous avez la moindre question, n'hésitez surtout pas à nous contacter. Merci!</p>
	 <a href="#" id="close-language">X Close</a>	    	
</div>