



<span id="language">
	<img style="position:relative;top:3px; margin:0 4px 0 10px;" src="/images/hungary.png"> 
	<span style="color:#3b69a4;" href="#"><strong>Magyar?</strong></span> 
</span>
	    		
<div id="language-block">
 	<h4>Hello! Üdvözlünk a Min River Tea Farm weboldalán!</h4>
	<p>Kiváló minőségű, kínai leveles teát kínálunk, és igen, Magyarországra is elpostázzuk! Weboldalunk sajnos még nincs lefordítva magyarra, de reméljük az oldalt angolul is probléma nélkül tudjátok használni. És ha bármilyen kérdésetek lenne, lépjetek kapcsolatba velünk! Köszönjük.</p>
	 <a href="#" id="close-language">X Bezár</a>	    	
</div>