



<span id="language">
	<img style="position:relative;top:3px; margin:0 4px 0 10px;" src="/images/norway.png"> 
	<span style="color:#3b69a4;" href="#"><strong>Norsk?</strong></span> 
</span>
	    		
<div id="language-block">
 	<h4>Hei! Velkommen til Min River Tea Farm!</h4>
	<p>Vi selger høy kvalitet kinesisk te i løs-vekt og ja, vi leverer til Norge! Vi beklager at websiden vår har desverre ikke blitt oversatt til norsk ennå. Vi håper du kan bruke den engelske versjonen uten for mye problemer og ta gjerne kontakt hvis du har spørsmål. Takk!</p>
	 <a href="#" id="close-language">X</a>	    	
</div>