



<span id="language">
	<img style="position:relative;top:3px; margin:0 4px 0 10px;" src="/images/russia.png"> 
	<span style="color:#3b69a4;" href="#"><strong>Россия?</strong></span> 
</span>
	    		
<div id="language-block">
 	<h4>Здравствуйте! Добро пожаловать на "Мин Ривер Тии Фарм"</h4>
	<p>Мы поставляем высококачественные китайские чайные листья в Европу, включая Россию.

На данный момент сайт находится в разработке и переводится на русский язык. Мы приносим свои извенения за неудобства. Мы надеемся, что вас не затруднит навигация на английском языке. Мы будем рады ответить на ваши вопросы и ждём вашего контакта. Большое спасибо!</p>
	 <a href="#" id="close-language">X</a>	    	
</div>