{% extends "base.html" %}
{% load thumbnail %}

{% block extracss %}
  <style type="text/css">
      table {font-size: 14px;}
      td { padding:5px 10px 5px 5px;}
      td ul {padding:0; margin:0;}
      td ul li {list-style-type:none;}
      thead {font-weight: bold;}
      h3 {margin: 30px 0 20px 0;}
      h2 {margin-top: 10px;}
  </style>
{% endblock %}

{% block pagetitle %}Admin Stuff{% endblock %}

{% block content %}

<div id="banner">
  <div class="super">
  	<h1>{{ shopper.first_name }} {{ shopper.last_name }} ({{ shopper.email }})</h1>
  	<p><a href="{% url admin_stuff %}">&laquo; back to admin stuff</a></p>
  </div>
</div>

<div id="main-text-wide">
  <div class="super">


<p>{{ shopper.first_name }} has spent £{{ shopper.get_value }} in total. {% ifequal shopper.is_subscribed True %}They ARE subscribed to emails{% else %}They are NOT subscribed to emails.{% endifequal %}. They have referred {% ifequal shopper.number_referred None %}0{% else %}{{ shopper.number_referred }}{% endifequal %} people.</p>

<h3>Orders</h3>
<ul>
{% for order in shopper.get_orders %}
<li>{{ order }} - {{ order.status }}<//li>
{% endfor %}
</ul>

<h3>Linked addresses</h3>
<ul>
{% for address in shopper.get_addresses %}
	<li>
	{{ address.house_name_number }}, {{ address.address_line_1 }}, {{ address.address_line_2 }}, {{ address.town_city }}, {{ address.postcode }}, 
	</li>
{% endfor %}
</ul>

  </div>
</div>
{% endblock %}
