{% extends "base.html" %}
{% load thumbnail %}
{% load django_static %}

{% block metadescription %}Real Christmas Cards - in China! We've got a great selection of high quality Christmas cards that you just can't find in the shops in China.{% endblock %}

{% block pagetitle %}Choose your Christmas Cards!{% endblock %}

{% block extracss %}
<style type="text/css">

div#main-text-wide div#right {
  margin-top: 20px;	
}

div#bottom {
    border-top: 3px dotted #E1E1E1;
    float: left;
    margin-top: 20px;
    padding: 30px 0 30px 20px;
    width: 760px;
}

div.extra {
  margin: 10px 0 0 0px;
  float: left;
  width: 470px;	
}

div.extra h3 {
  margin-bottom: 0;	
  font-size: 16px;
}

div.extra ul {
  list-style-type: square;
  padding-left: 30px;
  padding-right: 30px;	
}

div.extra p {
  margin-top: 0;	
}

div#bottom div.right {
    border-left: 1px solid #E1E1E1;
    float: left;
    margin-left: 20px;
    padding: 30px 0 0 30px;
    width: 230px;
}

div#bottom div.right h3 {
  font-size: 15px;	
}

div#bottom div.right p {
  font-size: 13px;	
}

div#bottom div.right img.delivery {
  margin-bottom: 20px;	
}

div.more-info {
  float: left;
  width: 100px;	
}

span.more-info {
  color: #fff;
  font-size: 120px;
  font-weight: 600;
  letter-spacing: 0px;
  position: relative;
  top: 0px;
  left: 60px;	
}

div.tea-promo:hover span.more-info {
  color: #666;	
}

span.message {
  color: #333;
  font-size: 12px;
  letter-spacing: 0px;
  position: relative;
  left: 0px;
  float:right;
}

span.message img {
  position: relative;
  top: 2px;	
}

.tag {
	margin:0;
	padding:0;
	position:absolute;
	right:24px;
	bottom:-12px;
	list-style:none;
	}

.tag {
	margin-left:20px;
	padding:0 10px 0 12px;
	background:#0089e0;
	color:#fff;
	text-decoration:none;
	-moz-border-radius-bottomright:4px;
	-webkit-border-bottom-right-radius:4px;	
	border-bottom-right-radius:4px;
	-moz-border-radius-topright:4px;
	-webkit-border-top-right-radius:4px;	
	border-top-right-radius:4px;	
	} 
	
.tag:before{
	content:"";
	float:left;
	position:absolute;
	top:0;
	left:-12px;
	width:0;
	height:0;
	border-color:transparent #0089e0 transparent transparent;
	border-style:solid;
	border-width:12px 12px 12px 0;		
	}


.tag:after{
	content:"";
	position:absolute;
	top:10px;
	left:0;
	float:left;
	width:4px;
	height:4px;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
	background:#fff;
	-moz-box-shadow:-1px -1px 2px #004977;
	-webkit-box-shadow:-1px -1px 2px #004977;
	box-shadow:-1px -1px 2px #004977;
	}
	
div.tea-promo .did-you-know {
  margin-top: -5px;
  width: auto;
  padding: 4px 8px;
  margin-right: 5px;
}

div.tea-promo .did-you-know h3 {
  font-size: 11px;
  margin: 0;
  color:#555;
  text-shadow: 0 1px 1px #fff;
}

div.tea-promo .did-you-know:hover:after {
  border-bottom-color: #84c37d;	
}

/* this is the background of the arrow */
div.tea-promo .did-you-know:after {
        border-bottom: 7px solid #e1e1e1;         
        border-left: 7px solid transparent;
        border-right: 7px solid transparent;
        position: absolute;
        top: -7px;
        left: 14px;
}

/* this is the foreground of the arrow */
div.tea-promo .did-you-know:before {
        border-bottom: 7px solid hsla(0,0%,95%,1);     
        border-left: 7px solid transparent;
        border-right: 7px solid transparent;
        position: absolute;
        top: -6px;
        left: 15px;
}

div.did-you-know {
  width: 500px;	
}

div.tea-promo p.reviews {
  color: #333;
  font-size: 13px;
}

p.price span {
    color: #439249;
    font-size: 16px;
    font-weight: normal;
    letter-spacing: -1px;
}

p.price span.coming-soon {
  color: #BE373A;	
}

p.subtitle {
  margin-bottom: 10px;
  float: left;
  width: 500px;	
}

p.quote {
    float: right;
    margin: 10px 0 0;
    width: 360px;
}

p.subtitle span {
    background-color: #BE373A;
    border-radius: 3px 3px 3px 3px;
    color: #FFFFFF;
    font-weight: bold;
    margin: 0 6px 0 6px;
    padding: 4px 5px 2px;
}

</style>
{% endblock %}

{% block content %}

<div id="banner">
  <div class="super">
	<h1>Choose your Christmas cards!</h1>
  </div>
</div>
		
<div id="main-text-wide">
  <div class="super">


	<div id="teas">
		{% include "shop/snippets/products.html" %}
	</div>
		

	<div id="left">
		<div class="did-you-know">
			<a href="/about/personal-tea-shopping/"><span class="link"></span></a>
			<h3>Don't see what you were looking for?</h3>
			<p>We offer a personal tea shopping service from our base in China, so we can get just about anything you need - get in touch with us now!</p>
		</div>
		<br clear="all"/>

	</div>
		
	
  </div>
</div>


{% endblock %}
